    <%= simple_form_for(@move_request, url: new_move_request_path, method: :get, html: {class: "form-horizontal"}) do |f| %>
      <h3>Find A Mover</h3>
      <%= f.simple_fields_for :origin do |origin_fields| %>
        <%= origin_fields.input :address, label: "Origin", placeholder: "New York, NY" %>
      <%- end -%>
      <%= f.simple_fields_for :destination do |destination_fields| %>
        <%= destination_fields.input :address, label: "Destination", placeholder: "Philadelphia, PA" %>
      <%- end -%>
      <%= f.input :date %>
      <div class="control-group">
        <label class="control-label">Truck Size</label>
        <div class="controls">
          <div class="btn-group trucks" data-toggle="buttons-radio">
            <button class="btn"><i class="truck-pickup"></i></button>
            <button class="btn"><i class="truck-van"></i></button>
            <button class="btn"><i class="truck-box-sm"></i></button>
            <button class="btn"><i class="truck-box-md"></i></button>
            <button class="btn"><i class="truck-box-lg"></i></button>
          </div>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <%= f.submit "Search", class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>

