<h1>Listing move_requests</h1>

<table>
  <tr>
    <th>Destination</th>
    <th>Origin</th>
    <th>Date</th>
    <th>Time frame</th>
    <th>Movers needed</th>
    <th>Truck size</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @move_requests.each do |move_request| %>
  <tr>
    <td><%= move_request.destination_id %></td>
    <td><%= move_request.origin_id %></td>
    <td><%= move_request.date %></td>
    <td><%= move_request.time_frame %></td>
    <td><%= move_request.movers_needed %></td>
    <td><%= move_request.truck_size %></td>
    <td><%= link_to 'Show', move_request %></td>
    <td><%= link_to 'Edit', edit_move_request_path(move_request) %></td>
    <td><%= link_to 'Destroy', move_request, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Move request', new_move_request_path %>
