%h1 Search for Movers

.well
  .row
    .span5
      = render 'short_form'
    .span6
      -#= gmaps4rails(@movers_map_data)
      = gmaps("markers" => {"data" => @movers_map_data})

.row
  .span12
    %h3 Select movers to contact
    %table.results.table.table-striped
      %thead
        %tr
          %th Select
          %th Photo
          %th Name
          %th City
          %th Rating
          %th Hourly Rate
          %th Truck
          -if @move_request.origin.present?
            %th Distance Away
      %tbody
        - letters = ('A'..'Z').to_a
        - @movers.each_with_index do |mover, index|
          %tr
            %td
              %label.checkbox.inline
                = check_box_tag ''
                = letters[index]
            %td= image_tag(mover.photo, "20x20") if mover.photo.present?
            %td= mover.user.name
            %td= "#{mover.city.titleize}, #{mover.state.upcase}"
            %td.stars
              - mover.rating.to_i.times do
                %i.star-full>
              - (5 - mover.rating.to_i).times do
                %i.star-empty>
            %td= number_to_currency(mover.hourly_rate)
            %td= image_tag "truck-pics/#{mover.id % 11}.jpg"
            - if @move_request.origin.present?
              %td= sprintf "%.1f mi", mover.distance
