%h1 Search for Movers

.well
  .row
    .span5
      = render 'short_form'
    .span6.relative.map
      = gmaps("markers" => {"data" => @markers}, map_options: {auto_zoom:false, zoom:11, auto_adjust:false, center_latitude: @move_request.origin.latitude, center_longitude: @move_request.origin.longitude})

.row
  .span12
    %h3 Select movers to contact:
    = simple_form_for(@move_request) do |f|
      %table.results.table.table-striped
        %thead
          %tr
            %th &nbsp;
            %th Photo
            %th Name
            %th City
            -if @move_request.origin.present?
              %th Distance
            %th Truck
            %th Hourly Rate
            %th Rating
            %th Description
        %tbody
          - letters = ('A'..'Z').to_a
          - @movers.each_with_index do |mover, index|
            %tr
              %td.select
                = label_tag "#{letters[index]}" do |t|
                  = check_box_tag "#{letters[index]}"
                  = letters[index]
              %td
                - if mover.photo.present?
                  = link_to(image_tag(mover.photo, size:"50x50"), "#photo_#{mover.id}", data:{toggle:'modal'})
                  - content_for :modals do
                    .modal.photo{id: "photo_#{mover.id}", style:'display:none;'}
                      = image_tag(mover.photo, size:"400x400")
              %td= mover.user.name
              %td= "#{mover.city.titleize}, #{mover.state.upcase}"
              -#
                %td= image_tag "truck-pics/#{mover.id % 11}.jpg"
              - if @move_request.origin.present?
                %td= sprintf("%.1f mi", mover.distance) if mover.distance
              %td 
                - truck = ["truck-pickup","truck-van","truck-box-sm", "truck-box-md", "truck-box-lg"].sample()
                %i{class: "#{truck}" }
              %td= number_to_currency(mover.hourly_rate)
              %td.stars
                - mover.rating.to_i.times do
                  %i.star-full>
                - (5 - mover.rating.to_i).times do
                  %i.star-empty>
              %td= truncate mover.description, length: 50, separator: ' '
      = link_to "Contact", '/beta', class: 'btn btn-primary btn-large'

