%h1 Search for Movers

.well
  .row
    .span5
      = render 'short_form'
    .span6
      = gmaps("markers" => {"data" => @markers}, map_options: {auto_zoom:false, zoom:11, auto_adjust:false, center_latitude: @move_request.origin.latitude, center_longitude: @move_request.origin.longitude})

.row
  .span12
    %h3 Select movers to contact
    %table.results
      %thead
        %tr
          %th Select
          %th City
          %th Rating
          %th Hourly Rate
          %th Truck
          -if @move_request.origin.present?
            %th Distance Away
      %tbody
        - letters = ('A'..'Z').to_a
        - @movers.each_with_index do |mover, index|
          %tr
            %td
              %label.checkbox.inline
                = check_box_tag ''
                = letters[index]
            %td= mover.city
            %td
              - mover.rating.to_i.times do
                = image_tag('star.png')
              - (5 - mover.rating.to_i).times do
                = image_tag('empty-star.png')
            %td= number_to_currency(mover.hourly_rate)
            %td
            - if @move_request.origin.present?
              %td= sprintf "%.1f mi", mover.distance
