<%= simple_form_for(@mover, html:{class:'form-horizontal'}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.simple_fields_for :user do |user_fields| %>
      <%= user_fields.input :name %>
      <%= user_fields.input :email %>
      <%= user_fields.input :password, as: :hidden, input_html:{value: 'abc123'} %>
    <%- end -%>
    <%= f.input :street_address %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :zip %>
    <%= f.input :description %>
    <%= f.input :photo %>
    <%= f.input :hourly_rate %>
    <%= f.input :rating, as: :select, collection: 0..5 %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class:'btn btn-primary' %>
    <%= link_to 'Cancel', movers_path, class:'btn' %>
  </div>
<% end %>
