<div class="row relative home">
  <div class="hero-unit clearfix">
    <div class="span5">
      <%= image_tag("truck_logo.png", class:'logo') %>
      <h1>Find A Mover</h1>
      <p>The fastest way to find a truck and moving help.</p>
      <p>
        Truxi shows nearby moving company prices, ratings, and photos, so you can pick the service that fits you best.
      </p>
    </div>
  </div>

  <div class="span5 home-form">
    <%= simple_form_for(@move_request, url: new_move_request_path, method: :get, html: {class: "form-horizontal"}) do |f| %>
      <h3>Find A Mover</h3>
      <%= f.simple_fields_for :origin do |origin_fields| %>
        <%= origin_fields.input :street_address %>
        <%= origin_fields.input :city %>
        <%= origin_fields.input :state, input_html: {class: "state-field", maxlength: "2" } %>
        <%= origin_fields.input :zip, input_html: {class: "zip-field", maxlength: "10" } %>
      <%- end -%>
      <%= f.input :date %>
      <%= f.submit "Next", class: 'btn btn-primary' %>

    <% end %>

  </div>
</div>
<div class="row">
  <div class="span12">
    <h2>How does it work?</h2>

  </div>

</div>
