<div class="row relative home">
  <div class="hero-unit clearfix">
    <div class="span5">
      <%= image_tag("truck_logo.png", class:'logo') %>
      <h1>Find A Mover</h1>
      <p>The fastest way to find a truck and moving help.</p>
      <p>
        Truxi shows nearby moving company prices, ratings, and photos, so you can pick the service that fits you best.
      </p>
    </div>
  </div>

  <div class="span5 home-form">
    <%= simple_form_for(@move_request, url: new_move_request_path, method: :get, html: {class: "form-horizontal"}) do |f| %>
      <h3>Find A Mover</h3>
      <%= f.simple_fields_for :origin do |origin_fields| %>
        <%= origin_fields.input :address, label: "Origin", placeholder: "Philadelphia, PA" %>
      <%- end -%>
      <%= f.simple_fields_for :destination do |destination_fields| %>
        <%= destination_fields.input :address, label: "Destination", placeholder: "New York, NY" %>
      <%- end -%>
      <%= f.input :date %>
      <div class="control-group">
        <div class="controls">
          <%= f.submit "Search", class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>

  </div>
</div>
<div class="row">
  <div class="span12">
    <h2>How does it work?</h2>

  </div>

</div>
